body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #aec7ea;
  font-family: Bahnschrift, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  width: 350px;
  display: block;
  margin: 0 auto;
  font-size: 15px;
}

input {
  width: 200px;
  font-family: Bahnschrift, sans-serif;
  font-size: 20px;
}

p {
  font-size: 15px;
  margin: 1px 0;
}

.radios {
  width: 200px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.radio1 {
  width: 20px;
}

.radios label {
  margin-right: 70px;
}